@{
    ViewData["Title"] = "Сервис";
}

<div class="text-center">
    <h1 class="display-4">Сервис по отправке сообщений</h1>
    <button class="w-40 btn btn-lg btn-primary" type="submit">Отправить отчёт </button>
    <p> Как часто отправлять отчёт <input type="text" size="40"></p>
    <p><button class="w-40 btn btn-lg btn-primary" type="submit">Применить</button></p>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    
    

    

</div>
